body{
    background-color: black;
    color: white;
    background-image: url(/static/pictures/pexels-luis-zheji-1662277.jpg);
    background-size: cover;
}

h1, h2{
    font-family: Bebas Neue;
    font-size: 50px;
    text-align: center;
}

form{
    color: white;
    font-family: Cinzel;
    font-size: 20px;
    align-items: start;
}

a{
    border: none;
    border-radius: 15px;
    font-family: 'Bebas Neue';
    width: max-content;
    font-size: 30px;
    text-decoration: none;
    color:white;
    transition: transform 0.3s ease-in-out;
}

a:hover{
    color: rgb(241, 241, 121);
}

.twoelements {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.oneline{
    display: flex;
    flex-direction: column;
}

.oneline1{
    display: flex;
    flex-direction: column;
    align-items: center;
}


.one{
    text-align: center;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="date"],
input[type="file"] {
    margin: 10px 0;
    padding: 10px;
    width: 300px;
    font-family: Playfair Display;
}

input[type="number"] {
    margin: 10px 0;
    padding: 0 10px;
    width: 300px;
    font-family: Playfair Display;
    font-size: 30px;
    text-align: center;
}


input[type="submit"] {
    font-family: 'Bebas Neue';
    margin: 30px auto;
    padding: 10px;
    border-radius: 15px;
    border: none;
    font-size: 30px;
    width: max-content;
    transition: background-color 0.8s ease-in-out;
}

#submit{
    padding: 10px 30px;
}

.submit{
    align-self: center;
    text-align: center;
}

input[type="submit"]:hover{
    background-color: #ee6e12;
}


input::file-selector-button{
    font-family: cinzel;
}

input[type = "file"]{
    font-family: cinzel;
}

label {
    font-family: Cinzel, sans-serif; 
}



button{
    font-family: 'Bebas Neue';
    margin: 30px auto;
    padding: 10px;
    border-radius: 15px;
    border: none;
    font-size: 20px;
    width: max-content;
    transition: background-color 0.8s ease-in-out;
}

button:hover{
    background-color: rgb(193, 47, 47);
}
