<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin Dashboard</title>
</head>
<body>
    <h1>Admin </h1>
    <p>This is the admin dashboard.</p>

    <br>
        <a href="{{ url_for('user') }}">Come back to User Dashboard</a>

 

    <h1> Add User</h1>
    <form method="post" action="/addUser" enctype="multipart/form-data">
        Username:<input type="text" id="username" name="username" required><br>
        Password:<input type="password" id="password" name="password" required><br>
        Email: <input type="email" id="email" name="email" required><br>
        First Name: <input type="text" name="first_name"><br>
        Second Name: <input type="text" name="second_name"><br>
        Date of Birth: <input type="date" name="dob"><br>
        Address: <input type="text" name="address"><br>
        Photo: <input type="file" name="photo"><br>
        <input type="submit" value="Add User">
    </form>

    <h2> Add Book</h2>
    <form  method="post" action="/addBook" enctype="multipart/form-data">
        Book Name: <input type="text" name="book_name"><br>
        Author: <input type="text" name="author"><br>
        Amount: <input type="number" name="amount" min="1"><br>  
        <input type="submit" value="Add Book">
    </form>

    <h3>List of Users</h3>

    {% for user in users %}
        <div>
        <p>Name: {{ user.first_name }} {{ user.second_name }}</p>
        <a href="{{ url_for('view_user', user_id=user.id) }}">View Details</a>
        <hr>
        </div>
    {% endfor %}


    <h4>List of Books</h4>

    {% for book in books %}
    <div>
    <p>Name: {{ book.book_name }}</p>
    <p>Author: {{ book.author }}</p>
    <a href="{{ url_for('view_book', book_id=book.id) }}">View Details</a>
    <hr>
    </div>
{% endfor %}

</body>
</html>
