<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
    <h1>Log in</h1>
    <h2>Welcome to Library system</h2>
    <p>Please log in</p>
    <form method="post" action="/">
        <!-- Change this input to type="email" and name="email" -->
        <input type="email" name="email" placeholder="Email" required>
        <input type="password" name="password" placeholder="Password" required>
        <button type="submit">Login</button>
    </form>
    {% with messages = get_flashed_messages(category_filter=["info", "warning"]) %}
    {% if messages %}
      {% for message in messages %}
        <div class="flash-message">{{ message }}</div>
      {% endfor %}
    {% endif %}
  {% endwith %}
    <p>Don't have an account? <a href="{{ url_for('register') }}">Register here</a>.</p>
</body>
</html>

