<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sign in</title>
</head>
<body>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <h1 class="title">Sign in</h1>
    <h2 class="title">Welcome to Library system</h2>

    <div class="two_elemets">
    <img src="{{ url_for('static', filename='pictures/pexels-josh-hild-4256852.jpg') }}" alt="book" width="500px">

    <form class="form" method="post" action="/">
        <!-- Change this input to type="email" and name="email" -->
        <label for="email">Email:</label>
        <input type="email" name="email" required>
        <label for="password">Password:</label>
        <input type="password" name="password" required>
        <button class="submit" type="submit">Sign in</button>
        <p>Don't have an account?</p>
        <a href="{{ url_for('register') }}">Sign up</a>
    </form>

    </div>

    {% with messages = get_flashed_messages(category_filter=["info", "warning"]) %}
    {% if messages %}
      {% for message in messages %}
        <div class="flash-message">{{ message }}</div>
      {% endfor %}
    {% endif %}
  {% endwith %}
    
</body>
</html>

